body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3b2074;
  text-decoration: none;
}

a:hover {
  color: #4e1591;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

h6{
  color: #fff;
}

.tab-view {
  margin-right: 300px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #7010e0;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #7010e0;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #7010e0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.align-hw h5{
  font-size: 35px;
  color: white;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgb(40 7 77);
}

.sp {
  left: 10px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  /* padding: 0; */
  padding-left: 100px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.btn-download {
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  background-color: #3b2074;
  font-weight: 600;
}

.btn-sign{
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  background-color: #3b2074;
  font-weight: 600;
}

.btn-out{
  padding: 8px 20px;
  margin-left: 17px;
  margin-right: 14px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  background-color: #7010e0;
  font-weight: 600;
}

.sp-align{
 line-height: 2.9;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-color: #3498db; 
  color: #ffffff; 
  font-size: 24px; 
  cursor: pointer;
}

.circle:hover {
  background-color: #2980b9; 
}

.nav li {
  display: inline-block; 
  color: white;
  font-weight: 700;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar li {
  position: relative;
  
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ededed;
}

.box-bg {
  background-color: #320864;
  padding: 68px;
  border-radius: 4px;
  line-height: 1.9;
}

.bg-color {
  color: #7010E0;
  font-size: 36px;
  margin-bottom: 25px;
}

h5 {
  color: #9A89AE;
}

.image-container-model {
  position: relative;
}

.img {
  width: 100%; 
  height: auto; 
  display: block;
}

.text-box-model {
    position: absolute;
    top: 54%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;  
}

.text-box-model h6{
  color: #000;
  line-height: 1.6;
}

.box-coinlist {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #efefef;
}


.btc-size {
 font-size: 40px;
}

.coin-size h6 {
  margin-top: 12px;
  font-size: 10px;
}

.coin-size h5 {
  font-size: 15px;
  color: #fff;
}

.btc-value h6{
  margin-top: 12px;
  font-size: 12px;
}

.btc-value h5 {
  font-size: 16px;
  color: #fff;
}

.btc { 
  background-color: #26054ce3; 
  border: 1px solid #7010E0;
}

.eth  { 
  background-color: #26054ce3;
  border: 1px solid #7010E0;
}
.litecoin   { 
  background-color: #26054ce3;
  border: 1px solid #7010E0;
}
.eur { 
  background-color: #26054ce3; 
  border: 1px solid #7010E0;
}

/* Our Grid Code */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 16vh;
  margin : 55px 25px -65px;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  background-color: #3b2074;
  font-weight: 600;
}


.navbar .getstarted-out,
.navbar .getstarted-out:focus {
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  background-color: #7010e0;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3b2074;
}

.navbar .getstarted-out:hover,
.navbar .getstarted-out:focus:hover {
  color: #fff;
  background: #3b2074;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #3b2074;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}


@media (max-width: 1366px) {
  
  .member-info h5 {
    margin-top: 15px;
  }
  .img-align img {
    background-size: cover;
    margin: 0px 0px 0px 7px;
    max-width: 100%;
    display: block;
  }
  .team {
    align-items: center;
  }
  
 
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3b2074;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #3b2074;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/images/Rectangle_45.jpg");
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px 13px 32px;
  border-radius: 4px;
  transition: 0.5s;
  margin: 15px 0 15px 0;
  color: #fff;
  background: #7010e0;
}

#hero .btn-get-started:hover {
  background: #510f96;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #3b2074;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #3b2074;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  background-image: url("../img/images/Rectangle_54.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #3b2074;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #3b2074;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #3b2074;
}

.about .content .btn-learn-more:hover {
  background: #3b2074;
  color: #fff;
  text-decoration: none;
}

/* box model*/

.trade{
  background-image: url('../img/images/Rectangle\ 63.jpg');
}

.box-container {
  display: flex;
  align-items: center;
}

.box {
  width: 173px;
  height: 150px;
  color: #fff;
  text-align: center;
  margin: 0 50px;
  position: relative;
}

.sp-1{
  margin-top : 15px;
  text-align: unset;
}

.img-align {
  background-size: cover;
  margin: 50px -35px -33px -68px;
}

.box-text {
  width: 180px;
  color: #fff;
  margin: 10px 50px;
  position: relative;
}

.box:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -125px;
  transform: translateY(-50%);
  height: 2px;
  width: 151px; 
  background-color: #ccc;
}

@media (max-width: 991.98px) {
  .footer-links {
    margin-top: 15px; 
  }

  .footer-links ul {
    flex-direction: column;
    align-items: baseline;
  }

  .footer-links li {
    margin-bottom: 8px; 
  }
}

/* box model end  */

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.image-container {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.text-box {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.why-us {
  background-image: url('../img/images/Rectangle\ 84.jpg');
}

.box-container-model {
  display: flex;
  text-align: center;
  color: white;
}

.box-model img{
  width: 60vh;
  padding-right: 10px;
}

input[type=text], select {
  width: 475px;
  height: 42px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #E5D9F3;
  border-radius: 9px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 270px;
    height: 54px;
    background-color: #7010e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6a24bb;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background-image: url('../img/images/Rectangle\ 87.jpg');
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #3b2074;
  border: 2px solid #3b2074;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s;
  height: 100%;
  background: #F5F0FA;
}

.team .member-bg {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s;
  height: 100%;
  background: #F1FAF5;
}

.member-info-1 h2 {
  color: #DECAFF;
  font-size: 34px;
  margin-bottom: 50px;
}

.member-info h3 {
  color: #0C3255;
  font-size: 34px;
}

.member-info h5 {
  color: #9A89AE;
  font-size: 15px;
}

.member-info h4 {
  font-family: Nunito Sans;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: left;
  color: #7010E0;
}

.member .member-info-box {
  background-color: #F1FAF5;
}

.member-info-box h5 {
  color: #9A89AE;
  font-size: 15px;
}

.member-info-box h4 {
  font-family: Nunito Sans;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #0C3255;
  margin: 0 0 30px 0;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member .member-info-box {
  padding-left: 30px;
}

.team .member-bg .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member-bg .pic img {
  transition: ease-in-out 0.3s;
}

.team .member-bg:hover {
  transform: translateY(-10px);
}

.team .member-bg .member-info {
  padding-left: 30px;
}

.team .member-bg .member-info-box {
  padding-left: 30px;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.icon-arrow-right::before {
  font-family: 'Entypo';
  content: '\2192'; 
}

.align-down {
  margin-top : 240px;
}

.team .member-bg p {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 2.6;
  margin-bottom: 20px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #3b2074;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #240845;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #3b2074;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #240845;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact  img{
 margin-bottom: 25px;
}


#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3b2074;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3b2074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

.line-color {
  color: #fff;
}

.my-5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}